/* resevation app styles*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero hero"
    "reservations restaurants";
}

.hero {
  grid-area: hero;
}

.reservations {
  grid-area: reservations;
}

.restaurants {
  grid-area: restaurants;
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Hero */

.hero {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: #333; /* A modern color scheme */
}

.hero img {
  width: 700px;
  height: 500px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
}

.hero p {
  font-size: 1.2rem;
}

.hero button {
  background: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.hero button:hover {
  background: #333;
  transform: scale(1.05);
}

/* Header */

header {
  background: linear-gradient(to right, #2b5876, #4e4376);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
  color: #ff6347; /* Tomato color for better visibility */
  text-decoration: underline;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ddd;
}

/* Form */

form {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

form label {
  display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="time"],
form input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

form input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Appointments */

.appointments {
  margin-top: 1rem;
}

.appointment {
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
}

.appointment h3 {
  color: #333;
}

.appointment p {
  font-size: 0.9rem;
}

.appointment .delete {
  color: #f00;
  cursor: pointer;
}

/* Footer */

footer {
  background: linear-gradient(to right, #2b5876, #4e4376);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.2em;
}

/* Restaurants */

.restaurants__cards {
  margin: auto;
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.restaurants__cards h3 {
  color: #333;
  margin: 0.5rem 0;
}

.restaurants__cards p {
  font-size: 0.9rem;
}

.Single__card {
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Reservations */

.reservations {
  margin-top: 20px;
  width: 800px;
  margin: auto;
}

.reservations h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.reservAll ul {
  list-style: none;
  padding: 0;
}

.reservAll li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
}

.reservAll li h4 {
  margin-top: 0;
  font-size: 18px;
  color: #555;
}

.reservAll li p {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
}

/* Optional: Style for alternate list items */
.reservAll li:nth-child(even) {
  background-color: #f9f9f9;
}

/* Calendar Section */

.calendar {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 50px auto;
  width: 800px;
  justify-content: center;
}

.calendar-input {
  margin-bottom: 20px;
}

.calendar-input input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.calendar-input button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-input button:hover {
  background-color: #0056b3;
}

.timeslots {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeslots li {
  margin-bottom: 10px;
  font-size: 16px;
}

.reserve-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reserve-btn:hover {
  background-color: #218838;
}

/*User Creation*/

.userCreation {
  background: #f4f4f4;
  padding: 1rem;
  margin: 20px auto;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.userCreation input[type="text"],
.userCreation input[type="email"],
.userCreation input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.userCreation input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.userCreation button {
  background: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.userCreation button:hover {
  background: #333;
  transform: scale(1.05);
}

/* User Login */

.loginCreation {
  background: #f4f4f4;
  padding: 1rem;
  margin: 20px auto;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.loginCreation input[type="text"],
.loginCreation input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.loginCreation input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.loginCreation button {
  background: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.loginCreation button:hover {
  background: #333;
  transform: scale(1.05);
}

.loginCreation p {
  font-size: 1.1rem;
}

.loginCreation p a {
  color: blueviolet;
}

.loginCreation p a:hover {
  color: #333;
}

loginCreation p a:visited {
  color: blueviolet;
}
/* Media Queries */

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  form input[type="text"],
  form input[type="email"],
  form input[type="time"],
  form input[type="date"] {
    width: 100%;
  }
}
